<div class="bg-white w-[80%] max-[426px]:w-full max-[426px]:shadow-none self-center shadow-lg rounded-lg px-6 py-4 max-[426px]:mb-0 max-[426px]:h-[77vh] mb-[15vh]">
  <div class="text-3xl font-semibold">
<h2>Edit Your Review:</h2>
<div class="row mt-4"></div>
<div class="border border-dashed my-4"></div>
<div class="">
<div class="edit-review">
  
  <form
    id="edit-review-form"
    class="form new-carReview-form flex flex-col gap-4"
  >
    <div class="form-group text-xl flex flex-row gap-6 max-[426px]:flex-col w-full self-center">
      <input
        class="form-input bg-[#f5f3f3] rounded-lg p-1 px-2 w-full text-center"
        type="text"
        id="title"
        name="title"
        value="{{review.title}}"
        required
      />
      <input
        class="form-input text-xl bg-[#f5f3f3] rounded-lg p-1 px-2 w-full text-center"
        type="text"
        id="make"
        name="make"
        value="{{review.carmake}}"
        style="text-transform: capitalize;"
        readonly
      />
      <input
        class="form-input text-xl bg-[#f5f3f3] rounded-lg p-1 px-2 w-full text-center"
        type="text"
        id="model"
        name="model"
        value="{{review.carmodel}}"
        style="text-transform: capitalize;"
        readonly
      />
      
    </div>
    <div class="form-group flex grow">

      <textarea
        class="form-input text-xl bg-[#f5f3f3] rounded-lg p-1 px-2 w-full"
        id="content"
        rows="10"
        required
      >{{review.carReview}}</textarea>
    </div>
    <div class="form-group flex flex-row justify-center">
      <button
        type="submit"
        class="bg-green-600 text-xl text-white px-10 rounded-xl p-2 hover:bg-green-400 btn btn-primary"
      >Update</button>
    </div>
  </form>
</div>
</div>
<script src="/js/edit-review.js" defer></script>