@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(186, 213, 238);
}

body {
  background-color: var(--background)  
}

.navTitle {
  font-weight: bolder;
  font-size: 38px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.carReviewBox {
  margin-top: 8px;
  border-style: solid;
}

.comments-word {
  background-color: white;
  padding: 2px 4px;
  border-radius: 4px;
}


/* .carReviewTitle {
  text-decoration: initial;
  color: rgb(238, 104, 55);
} */

/* .carReviewDesc {
  border-style: solid;
  margin-bottom: 5px;
  padding: 2px;
  background-color: var(--background)
} */

.carReviewDescMain {
  font-weight: 700;
}

.carReviewDescTwo {
  font-size: 25px;
  /* font-style: italic; */
}

/* .carReviewCreate {
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  padding: 5px;
  color: darkkhaki;
} */

.carReviewBoxCont {
	margin-top: 10px;
  border-style: solid;
  background-color: var(--background)
}

.formCont {
  margin-top: 10px;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}


.commentCont {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 75%;
  background-color: rgb(218, 235, 249);
}

.commentOwner {
  font-size: 14px;
}

.btnComment {
  margin-top: 10px;
}

.commentText {
  font-weight: bold;
  padding-top: 10px;
  background-color: var(--background)
}

.commentCont {
  border-style: dotted;
}

/* .headerRow {
  background-color: rgb(253, 221, 221);
  margin-bottom: 10px;
} */

a:link {
  color: rgb(220, 89, 19);
}
a:visited {
  color: rgb(43, 204, 225);
}


a:hover {
  color: rgb(32, 104, 237);
  /* background-color:rgb(65, 225, 43) */
}

.login{
	margin-left: 25px;
}

.signup{
	margin-left: 25px;
}

.form-group{
	margin-top: 10px;
}

.signIn{
  font-size: large;
  font-weight: bold;
  align-items: center;
}

#body{
  justify-content: center;
  align-items: center;
}

#carReview{
  margin-top: 10px;
}

.menu-open {
  overflow: hidden;
}

.animated-bg {
  background: linear-gradient(270deg, #cf2560, #6412b1, #220bb5);
  background-size: 200% 200%;
  animation: animatedBackground 30s ease-in-out infinite;
}

@keyframes animatedBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.searchText{
  font-size: 20px;
  font-weight: bolder;
  justify-self: center;
  flex-basis: auto;
}

.car-review-container {
  transition: transform 0.3s, box-shadow 0.3s;
}

.car-review-container:hover {
  transform: scale(1.05);
  box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.2);
}